* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #297766;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  
  .choice {
    background-color: rgb(206, 216, 217);
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #033874;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .Game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
  }
  

  #result {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    border: 2px solid #042935;
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }
  
  #result:hover {
    background-color: #e0e0e0;
    border-color: #888;
    color: #000;
  }
  